################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmbroideryThreadsApi
/.vs/ProjectEvaluation
/EmbroideryThreadsApi/bin/Debug/net9.0
/EmbroideryThreadsApi.Testing/bin/Debug/net9.0
/EmbroideryThreadsApi.Testing/obj
/EmbroideryThreadsApi/obj
/EmbroideryThreadsApi/obj/Debug

/EmbroideryThreadsApi/obj/Debug/net9.0
