################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/EmbroideryThreadsApi.Testing/bin/Debug/net9.0
/EmbroideryThreadsApi.Testing/obj
/EmbroideryThreadsApi/obj
/EmbroideryThreadsApi/obj/Debug
/EmbroideryThreadsApi/bin

